# This workflow will install Python dependencies, run tests and lint with a variety of Python versions

name: Python linting

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Ruff lint
        run: |
          uvx ruff check
      - name: Mypy
        if: success() || failure()
        run: |
          uvx mypy --pretty .
      - name: Vulture
        if: success() || failure()
        run: |
          uvx vulture ./src --min-confidence 61
      - name: Ruff format
        if: success() || failure()
        run: |
          uvx ruff format --diff
