# This workflow will install Python dependencies, run tests and lint with a variety of Python versions

name: Doctest

on:
  pull_request:
    branches: ["main"]

jobs:
  doctest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - name: Create venv
        run: uv venv
      - name: Sphinx doctest
        working-directory: ./docs
        run: |
          uv run make doctest
      - name: Readme test
        run: |
          uv run -m pytest --markdown-docs README.md
